<fieldset class="uk-fieldset">
    <legend class="uk-legend">Detail Employee</legend>

    <div class="uk-margin">
        <mat-label>First Name</mat-label>
        <mat-label>First Name</mat-label>
    </div>

    <div class="uk-margin">
        <mat-label>Last Name</mat-label>
        <mat-label>Last Name</mat-label>
    </div>

    <div class="uk-margin">
        <mat-label>Username</mat-label>
        <mat-label>Username</mat-label>
    </div>

    <div class="uk-margin">
        <mat-label>Email</mat-label>
        <mat-label>Email</mat-label>
    </div>

    <div class="uk-margin">
        <mat-label>Birth Date</mat-label>
        <mat-label>Birth Date</mat-label>
    </div>

    <div class="uk-margin">
        <mat-label>Basic Salary</mat-label>
        <mat-label>Basic Salary</mat-label>
    </div>
    <div class="uk-margin">
        <mat-label>Status</mat-label>
        <mat-label>Status</mat-label>
    </div>
    <div class="uk-margin">
        <mat-label>Group</mat-label>
        <mat-label>Group</mat-label>
    </div>
</fieldset>
<button mat-raised-button color="primary" routerLink="/employee/list">OK</button>